.imager-container {

}

.imager__controls {
    margin-bottom: 15px;
}

.imager__item__actions {
    margin-top: 10px;
}

.imager__item {

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    img {
        width: 250px;
        height: 175px;
        object-fit: cover;
        border-radius: 5px;
    }
}

.imager__make-preview-btn {

}
